.container {
    padding: 20px;
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;  
    background-color: #ffffff; 
    padding: 20px;  
    max-width: 400px; 
    margin: 0 auto;  
    display: flex;   
    justify-content: center; 
    align-items: center; 
  }
  
  .card-body {
    margin: 0 20px;  
  }