.container {
    padding: 20px; /* espacio alrededor del contenido del cuadro sombreado */
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* un sombreado al cuadro */
    border-radius: 10px; /* Da un borde redondeado al cuadro */
    background-color: #ffffff; /* Establece el color de fondo del cuadro */
    padding: 20px; /* espacio alrededor del contenido del cuadro */
    max-width: 400px; /* Establece un límite máximo de ancho para el cuadro */
    margin: 0 auto; /* Centra el cuadro en la página */
    display: flex; /* Centra el contenido tanto de arriba hacia abajo como de los costados */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  .card-body {
    margin: 0 20px; /* Agrega espacio alrededor del contenido del cuadro */
  }