.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.form-group {
  grid-column: span 2;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.button-container {
  grid-column: span 2; /* Abarca el ancho de las dos columnas */
  display: flex;
  justify-content: space-between; /* Alinea los botones a los extremos */
  gap: 10px; /* Espacio entre los botones */
}

button {
  flex: 1; /* Permite que ambos botones tengan el mismo ancho */
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"] {
  background: #28a745;
  color: #fff;
}

button[type="button"] {
  background: #dc3545;
  color: #fff;
}
