<app-admin-navbar></app-admin-navbar>
<br><br>
<h1 style="top: 65px; left: 1%; position: fixed; font-size: 20px;">Reservas</h1>
<table class="table custom-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FECHA</th>
            <th>HORA INICIO</th>
            <th>HORA FIN</th>
            <th>ID CLIENTE</th>
            <th>ID CAMPO FUTBOL</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-active" *ngFor="let item of allList">
            <td>{{item.id}}</td>
            <td>{{item.fecha}}</td>
            <td>{{item.horaInicio}}</td>
            <td>{{item.horaFin}}</td>
            <td>{{item.dniCliente}}</td>
            <td>{{item.campoFutbol}}</td>

        </tr>
    </tbody>
</table>